# Project specific files
.vscode
*.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Packaging artifacts
dist/
build/
*.egg-info/
*.tar.gz
*.whl

# PyPI upload artifacts
.pypirc